@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geist';
  src: url('/Geist.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

html {
  @apply font-sans antialiased transition-colors;
  text-rendering: optimizeLegibility;
  scrollbar-gutter: stable;
}

body {
  @apply bg-[#fff] font-medium text-[0.9rem] leading-[1.65rem] text-neutral-500;
}

b {
  @apply font-medium text-black;
}

h1,
h2, h3 {
  @apply font-medium text-black;
}

::-moz-selection {
  @apply bg-[#FFF9E3];
}

::selection {
  @apply bg-[#FFF9E3];
}