---
import Base from "../layouts/Base.astro";
import Link from "../components/Link.vue"
---

<Base title="404" description="404 - Page Not Found">
  <div class="h-[calc(100vh-200px)] gap-y-4 flex flex-col justify-center">
    <h1>404</h1>
    <p>Page not found</p>
    <Link href="/">Go to homepage</Link>
  </div>
</Base>
