---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="404" description="Page not found">
  <header class="pb-8 pt-40">
    <h1 class="mb-2 font-semibold">404</h1>
    <p class="mb-2 text-secondary mt-1">Page not found</p>
    <a href="/">Go to homepage</a>
  </header>
</BaseLayout>
