---
import { getCollection } from "astro:content";
import { sortPostsByDate } from "../lib/date";
import Base from "../layouts/Base.astro";
import PostRow from "../components/PostRow.astro";
import Link from "../components/Link.vue";

// const projects = await getProjects(6)
const posts = sortPostsByDate(
  await getCollection("blog", ({ data }) => data.isDraft !== true)
);

const title = "Fanindra Maharana — Blog";
---

<Base
  {title}
  description="This is the personal blog of Fanindra Maharana, an Interaction Design student at JKLU, Jaipur."
  image="/og.png"
>
  <h1 slot="header-content" class="text-black">Fanindra Maharana</h1>

  <main class="prose mt-8">
    <small>IPA - / f ʌ n ɪ n d h ɹ ʌ / </small>

    <p class="text-black space-y-4">
      Hi, I'm Fanindra. Welcome to my corner on the internet. Here, I write on design, tech, and more. I'm an Interaction Designer specialized in handcrafting
      digital experiences with empathy, innovation, and purpose. Currently pursuing M. Des in Interaction Design at JKLU, Jaipur.
      
      
      <p> <span class="text-black">To checkout the design projects I've worked on, visit my </span>
      <Link href="https://www.fanindra.xyz/"> Portfolio Website </Link>
    </p></p>
    <p>
      <span class="text-black">Get in touch </span>— <Link href="mailto:imfanindra@gmail.com"
        >imfanindra@gmail.com</Link
      > /
      <Link href="https://www.linkedin.com/in/fanindra-m/">Linkedin</Link>
    </p>

    <div class="mt-12"></div>
    <h2 class="text-black">Recent Posts</h2>
    <div class="flex flex-col gap-4">
      {posts.map((post) => <PostRow {post} />)}
    </div>
  </main>
</Base>
