---
import { getCollection } from "astro:content";
import { sortPostsByDate } from "../lib/date";
import Base from "../layouts/Base.astro";
import PostRow from "../components/PostRow.astro";
import Link from "../components/Link.vue";

// const projects = await getProjects(6)
const posts = sortPostsByDate(
  await getCollection("blog", ({ data }) => data.isDraft !== true)
);

const title = "Fanindra Maharana — Blog";
---

<Base
  {title}
  description="This is the personal blog of Fanindra Maharana, an Interaction Design student at JKLU, Jaipur."
  image="og.png"
>
  <h1 slot="header-content" class="text-neutral-500">Fanindra Maharana</h1>

  <main class="prose">
    <p>
      <small class="text-neutral-500">IPA - /fʌ - nɪn - dhɹʌ/ </small>
      <br />

      Hi, I'm Fanindra, an Interaction Designer specialized in handcrafting
      digital experiences with empathy, innovation, and purpose. Check out my
      <Link href="https://www.fanindra.xyz/"> Portfolio Website </Link> to see my
      work. This is my personal blog where I occasionally write on design, tech,
      and more.
      <p>
        Get in touch — <Link href="mailto:imfanindra@gmail.com">imfanindra@gmail.com</Link> or 
      <Link href="https://www.linkedin.com/in/fanindra-m/">Linkedin</Link>
    </p>

      <div class="mt-12"></div>
      <h2>Recent Posts</h2>

      <div class="flex flex-col gap-4">
        {posts.map((post) => <PostRow {post} />)}
      </div>
    </p>
  </main>
</Base>
