<div class="prose">
  <footer class="border-t-[1px] border-neutral-200 py-4 flex justify-between">
    <span class="text-neutral-500">Fanindra Maharana</span>
    <span class="text-neutral-500">Last updated - Sept 2024</span>
  </footer>
</div>
