<div class="post">
  <slot />
</div>

<style is:global>
  .post {
    @apply flex flex-col gap-2;
  }

  .post h1{
    @apply mt-8;
  }

  .post h2{
    @apply mt-6;
  }

  .post h3{
    @apply mt-2 font-semibold text-black;
  }

  .post strong {
    @apply font-semibold text-black;
  }

  .post a {
    @apply underline decoration-wavy underline-offset-2 text-black decoration-theme-orange;
  }

  .post a:global(:hover) {
    @apply text-black;
  }

  .post img.inline {
    @apply my-3;
  }

  .post blockquote {
    @apply my-3 border-l-4 text-black border-theme-orange bg-neutral-50 px-4 py-3;
  }
</style>