---
import type { CollectionEntry } from "astro:content";
import { formatDate } from "../lib/date";
import Link from "./Link.vue";

type Props = {
  post: CollectionEntry<"blog">;
};

const {
  post: {
    data: { title, date },
    slug,
  },
} = Astro.props;
---

  <Link
    href={`/blog/${slug}`}
    class="flex justify-between no-underline hover:text-black"
  >
    <span>{title}</span>

    <span class="tabular-nums tracking-tight"
      >{formatDate(date)}</span
    >
  </Link>
